{:dev true
 :repl true
 :auto-start-server? true
{{#sql}}
 :db {:host "localhost"
      :name "db_name"
      :port 5432
      :username "username"
      :password "password"}
{{/sql}}
{{#couchdb}}
 :db {:url "http://localhost:5984/"
      :username "username"
      :password "password"}
 {{/couchdb}}
 }