{:dev true
{{#postgresql}}
 :db {:host "localhost"
      :name "db_name"
      :port 5432
      :username "username"
      :password "password"}
 {{/postgresql}}
{{#couchdb}}
 :db {:url "http://localhost:5984/"
      :username "username"
      :password "password"}
 {{/couchdb}}
 }