{:dev true
{{#sql}}
 :db {:host "localhost"
      :name "db_name"
      :port {{#postgresql}}5432{{/postgresql}}{{#mysql}}3306{{/mysql}}
      :username "username"
      :password "password"}
 {{/sql}}
{{#couchdb}}
 :db {:url "http://localhost:5984/"
      :username "username"
      :password "password"}
 {{/couchdb}}
 }